@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
body {
  font-family: "Playfair Display", serif;
}

div#layout {
  text-align: center;
}

div#container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: #000075;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #f4eee1;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #f3aabb;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9faaae;
  stroke-opacity: 0.3;
}

text {
  font-family: "Playfair Display", serif;
}

text.divergence {
  font-size: 12px;
  fill: #e7cebf;
}

text.value {
  font-size: 12px;
}

text.title {
  font-size: 22px;
  font-weight: 600;

  fill: #ffffff;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 12px;
}
