.gridZ {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.wholeRowZ {
  grid-column: 1 / 5;
  margin: auto;
  display: block;
  padding: 20px;
  text-align: center;
}
.firstQuarterZ {
  grid-column: 1 / 2;
}
.secondQuarterZ {
  grid-column: 2 / 3;
}
.thirdQuarterZ {
  grid-column: 3 / 4;
}
.fourQuarterZ {
  grid-column: 4/ 5;
}
.firstHalfZ {
  grid-column: 1 / 3;
}
.secondHalfZ {
  grid-column: 3 / 5;
}
.middleZ {
  grid-column: 2 / 4;
}
